<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'onboardingTutorial.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="toc-modal-page">
  <p style="white-space: pre-line;">{{ 'onboardingTutorial.content' | translate }}</p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button (click)="closeTapped()">{{ 'onboardingTutorial.close' | translate }}</button>
  </ion-toolbar>
</ion-footer>
