<ion-content class="login-content" padding>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;">
    <ion-row class="logo-row">
      <ion-col style="text-align: center;">
        <img class="" src="assets/img/digitalkasten-logo.svg" width="175" height="36" />
      </ion-col>
    </ion-row>
    <div class="login-box">
      <form [formGroup]="loginForm" (ngSubmit)="login($event)" action="page1.html" novalidate>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item style="border-top:0px;">
                <ion-label stacked>{{ 'login.email' | translate }}</ion-label>
                <ion-input type="email" formControlName="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>{{ 'login.password' | translate }}</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full color="primary">{{ 'login.login' | translate }}</button>
            <button style="color:#aaa; font-size: 12px;" ion-button class="forget-btn" block clear [navPush]="forgetPassword" color="secondary">{{ 'login.forgetPassword' | translate }}</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="register-btn" block clear [navPush]="pushPage" color="secondary">{{ 'login.newAccount' | translate }}</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
