<ion-header>
  <ion-navbar>
    <ion-title>{{ 'myData.createFreeAccount' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #fff;">

  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit($event)" id="signup-form">
    <div padding>
      <h4>{{ 'myData.pickYourEmail' | translate }}</h4>
    </div>

    <ion-list class="account-form" formGroupName="emails">
      <ion-item>
        <ion-label stacked>{{ 'myData.email' | translate }}</ion-label>
        <ion-input type="email" placeholder="{{ 'myData.emailPlaceholder' | translate }}" autocomplete="on" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'myData.repeatEmail' | translate }}</ion-label>
        <ion-input type="email" placeholder="{{ 'myData.repeatEmailPlaceholder' | translate }}" autocomplete="on" formControlName="emailConfirmation" required></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <h4>{{ 'myData.pickYourPassword' | translate }}</h4>
    </div>
    
    <ion-list class="account-form" formGroupName="passwords">
      <ion-item>
        <ion-label stacked>{{ 'myData.password' | translate }}</ion-label>
        <ion-input type="password" placeholder="{{ 'myData.passwordPlaceholder' | translate }}" autocomplete="on" formControlName="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'myData.repeatPassword' | translate }}</ion-label>
        <ion-input type="password" placeholder="{{ 'myData.repeatPasswordPlaceholder' | translate }}" autocomplete="on" formControlName="passwordConfirmation" required></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <h4>{{ 'myData.termsOfServiceAndDataPolicy' | translate }}</h4>
    </div>

    <ion-list class="account-form" style="margin-bottom: 0px;">
      <ion-item text-wrap>
        <ion-label>{{ 'signUp.freeAccount.acceptLegal' | translate }}</ion-label>
        <ion-checkbox formControlName="legal" style="margin-left: 15px;"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div no-margin>
      <button clear ion-button (click)="readTermsAndConditions($event)" color="secondary">{{ 'signUp.freeAccount.termsAndConditions' | translate }}</button>
      <button clear ion-button (click)="readPrivacyPolicy($event)" color="secondary">{{ 'signUp.freeAccount.privacyPolicy' | translate }}</button>
    </div>

    <div class="errors" *ngIf="serverErrors.length">
      <ion-list>
        <ion-item color="danger" *ngFor="let error of serverErrors">
          {{ error }}
        </ion-item>
      </ion-list>
    </div>

    <div style="margin-top: 20px;">
      <button ion-button full type="submit">{{ 'general.continue' | translate }}</button>
      <button ion-button block clear (click)="goBack($event)" color="secondary">{{ 'requestPassword.back' | translate }}</button>
    </div>
  </form>
</ion-content>
