page-success {
  ion-content {
    .logo {
      margin-bottom: 30px;

      img {
        width: 175px;
        height: 36px;

      }

    }

    ion-list {
      ion-icon {
        font-size: 60px;
        color: #33cd5f !important;

      }

      h1 {
        margin-top: 10px;
        margin-bottom: 35px;
      }

      button {
        margin-top: 35px;
      }

    }

  }

}
