<ion-content padding text-center>
  <ion-row class="logo">
    <ion-col>
      <img src="assets/img/digitalkasten-logo.svg">
    </ion-col>
  </ion-row>
  <ion-list padding style="background: #fff; margin-top: 50px !important;" id="success-box">
    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
    <h1>{{ 'signUp.registrationSuccess.title' | translate }}</h1>
    <p>{{ 'signUp.registrationSuccess.text' | translate }}</p>
    <button ion-button full (click)="onRedirect()">{{ 'signUp.registrationSuccess.login' | translate }}</button>
  </ion-list>
</ion-content>
