.document-list {
  @media (min-width:800px) {
    ion-label {
      display: flex;

      h2 {
        flex-basis: 40%;
        margin-top: 8px !important;
        font-size: 14px !important;;
      }

      p {
        flex-basis: 25%;
        margin-top: 10px !important;
      }

      div {
        flex-basis: 35%;
      }
    }
  }

  ion-item-divider .label {
    margin-top: 26px;
  }

  .item-md ion-thumbnail ion-img, .item-ios ion-thumbnail ion-img {
    min-width: auto;
  }

  .item-md ion-thumbnail ion-img, .item-ios ion-thumbnail ion-img, .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: auto;
    border: 1px solid #E9E9E9;
  }

  .item-md ion-thumbnail, .item-ios ion-thumbnail {
    min-width: auto;
  }

  .page-count {
    color: rgba(0, 0, 0, .5);
  }

  .tags {
    margin: 0;
    padding: 0;

    .badge-md, .badge-ios {
      margin-left: 0;
      margin-top: 5px;
      margin-right: 2px;
      margin-bottom: 7px;
    }
  }

  .date {
    font-size: 12px;
  }

  .unread {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: map-get($colors, secondary);
    margin-left: 3px;
  }

  .action-menu-button {
    font-size: 1.5rem;
  }

}

.nothing-found-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .nothing-found-content {
    text-align: center;
    width: 100%;
    padding: 23px;
    box-sizing: border-box;
    color: map-get($colors, 'grey');

    .bubble {
      width: 50px;
      height: 50px;
      background: map-get($colors, 'primary');
      border-radius: 100%;
      display: inline-block;
      color: #ffffff;
      font-size: 25px;
      line-height: 1.6;
      margin-bottom: 13px;
    }
  }
}

.action-sheet-cancel ion-icon, .action-sheet-destructive ion-icon {
  color: #757575;
}
