<ion-list class="document-list">
  <ion-item-divider *virtualHeader="let header" color="light">
    {{ header }}
  </ion-item-divider>
  <ion-item *ngFor="let document of documents" style="display: flex;">
    <h2 (click)="openBrowser(document)">{{ document.title }} <span class="unread" *ngIf="!document.openedByUser"></span></h2>
    <p class="date" (click)="openBrowser(document)">{{ document.createdAt | date:"dd.MM.yyyy HH:mm" }}</p>
    <div class="tags" (click)="openBrowser(document)">
      <ion-badge *ngFor="let tag of document.tags | slice:0:3">{{ tag.name }}</ion-badge>
    </div>
    <button ion-button clear icon-only item-right color="grey" class="action-menu-button" *ngIf="!document.deletedAt" (click)="openMenu($event, document)">
      <ion-icon ios="md-more" md="md-more"></ion-icon>
    </button>
  </ion-item>
</ion-list>
