<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'folder.new.title' | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">{{ 'general.cancel' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="label-editor-modal-page">
  <form [formGroup]="form" (ngSubmit)="createFolder($event)" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="{{ 'folder.new.placeholder' | translate }}" formControlName="title"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button full type="submit">{{ 'folder.new.button' | translate }}</button>
    </div>
  </form>
</ion-content>
