<ion-content class="login-content" padding>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;" *ngIf="!passwordRequested">
    <div padding>
      <h4>{{ 'requestPassword.title' | translate }}</h4>
    </div>
    <div class="password-box">
      <form [formGroup]="passwordForm" (ngSubmit)="request($event)" novalidate>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-label stacked>{{ 'requestPassword.email' | translate }}</ion-label>
                <ion-input type="email" formControlName="email" required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full color="primary">{{ 'requestPassword.request' | translate }}</button>
            <button ion-button class="register-btn" block clear (click)="goBack()" color="secondary">{{ 'requestPassword.back' | translate }}</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;" *ngIf="passwordRequested">
    <div padding>
      <h4>{{ 'requestPassword.title' | translate }}</h4>
      <p>{{ 'requestPassword.message' | translate }}</p>
      <button ion-button class="register-btn" block clear (click)="goBack()" color="secondary">{{ 'requestPassword.back' | translate }}</button>
    </div>
  </div>
</ion-content>
