<div class="app-wrapper">
  <div padding class="user-notification-banner" [hidden]="!showCompleteSignupBanner">

    <p no-margin>
      {{ 'banner.message_start' | translate }}
      <a tappable class="complete-signup-link" (click)="onCompleteSignUp($event)">
        {{ 'banner.message_link' | translate}}
      </a>
      {{'banner.message_end' | translate}}
    </p>
  </div>
  <div padding class="user-notification-banner" [hidden]="!showEmailConfirmationBanner">

    <p no-margin>
      {{ 'banner.pleaseVerifyEmail' | translate }}
    </p>
  </div>
  <div class="split-panel-container">
    <ion-split-pane when="(min-width: 800px)">
      <ion-menu (ionOpen)="menuOpened()" (ionClose)="menuClosed()" [content]="nav" type="overlay" *ngIf="showMenu">
        <ion-header>
          <ion-toolbar id="app-menu-toolbar" >
            <ion-item class="menu-logo">
              <img src="assets/img/digitalkasten-logo.svg" style="height:28px; margin-top:10px;" />
            </ion-item>
          </ion-toolbar>
        </ion-header>
        <ion-content scroll="false"  >
          <app-menu  [ngClass]="userService.getRegistrationState() ? 'free-account' : 'signed-account'" [nav]="nav"></app-menu>
        </ion-content>
      </ion-menu>
      <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
      <ion-nav [root]="rootPage" main #nav swipeBackEnabled="false"></ion-nav>
    </ion-split-pane>
  </div>
</div>

