.ios,
.md {
  page-inbox {
    ion-content {
      background-color: #eee;

      &.has-refresher > .scroll-content {

        /* fix for issue with dissapearing scrollbar on resfresh*/

        /* overflow-y: scroll !important;*/

        /* to make content static*/

        /* transform: translateY(0) !important;*/
        border: none;
      }

      &.content-search {
        background-color: rgba(0, 0, 0, .1);
      }

      /* fix for issue with dissapearing scrollbar on refresh*/

      /* ion-refresher {*/

      /*   z-index: 100;*/

      /*} */
    }

  }

}