<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <!--  <img *ngIf="platform.is('core')" class="header-logo" src="assets/img/digitalkasten-logo.svg" style="height:26px; margin-top:10px; display:none;" /> -->
    <!-- <ion-title style="display:flex;">{{ title }}</ion-title> -->
    <!-- <ion-input placeholder="Suchen..." class="desktop-search"></ion-input> -->
    <!-- <ion-searchbar (ionInput)="getItems($event)" debounce="500" class="desktop-search"></ion-searchbar> -->
    <ion-searchbar #searchbar  *ngIf="platform.is('core')" [(ngModel)]="queryString" placeholder="{{ 'documents.search.label' | translate }}" (change)="getItems($event)" (ionClear)="clear($event)" autocorrect="off" class="desktop-search"></ion-searchbar>
      <!--<ion-title><img src="assets/img/digitalkasten-logo.svg" style="height: 24px;padding:0px 10px; padding-right:20px;" />{{ title }}</ion-title>-->
    <ion-title *ngIf="!platform.is('core')">{{title}}</ion-title>
    <ion-buttons end *ngIf="!platform.is('core')">
      <button ion-button style="opacity:0;">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="customFolder && !platform.is('core')">
      <button ion-button (click)="editFolder(customFolder)" color="secondary"><ion-icon name="md-create"></ion-icon></button>
      <button ion-button (click)="deleteFolderTapped($event,customFolder)" color="secondary"><ion-icon name="md-trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!searchBarFocused && !isSearchMode">

    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form *ngIf="!platform.is('core')" action=".">
    <ion-searchbar  #searchbar [(ngModel)]="queryString" placeholder="{{ 'documents.search.label' | translate }}" (change)="getItems($event)" (ionClear)="clear($event)" class="gsfi" id="lst-ib" maxlength="2048" name="q" autocomplete="off" type="search" value="" aria-haspopup="false" role="combobox" aria-autocomplete="both" dir="ltr" spellcheck="false"></ion-searchbar>
  </form>
  <!-- <form action="#">
    <input class="gsfi" id="lst-ib" maxlength="2048" name="q" autocomplete="off" title="Search" type="text" value="" aria-label="Search" aria-haspopup="false" role="combobox" aria-autocomplete="both" dir="ltr" spellcheck="false">
  </form> -->
  <div *ngIf="platform.is('core') && !customFolder" style="display:flex;">
    <div style="width:60%;flex-basis:60%;align-items:center;display:flex;" padding>
      <h4 id="boxTitle" *ngIf="!isSearchMode && platform.is('core')" style="align-items:center;width:100%;margin-top:0!important;">{{title}}</h4>
      <h4 id="boxTitle" *ngIf="isSearchMode">{{ 'documents.inbox.searchQuery' | translate:{"query": searchQuery} }}</h4>
    </div>
  </div>
  <div style="text-align:right;align-items: right;" *ngIf="type == 'sendtome' && documents.length" padding>
    <button ion-button (click)="sendLetters($event)" color="secondary">{{ 'general.menu.sendButton' | translate }}</button>
  </div>
  <div *ngIf="platform.is('core') && customFolder" style="display:flex;">
    <div style="width:60%;flex-basis:60%;align-items:center;display:flex;" padding>
      <h4 id="boxTitle" *ngIf="!isSearchMode && platform.is('core')" style="align-items:center;width:100%;margin-top:0!important;">{{ customFolder.title }}</h4>
    </div>
    <div style="width:40%;flex-basis:40%;text-align:right;align-items: center;" *ngIf="customFolder" padding>
      <button ion-button (click)="editFolder(customFolder)" color="secondary"><ion-icon name="create"></ion-icon></button>
       <button ion-button (click)="deleteFolderTapped($event,customFolder)" color="secondary"><ion-icon name="md-trash"></ion-icon></button>
    </div>
  </div>
  <document-list [folder]="type" [documents]="documents" *ngIf="documents.length"></document-list>
  <div class="nothing-found-wrapper" *ngIf="!documents.length">
    <div class="nothing-found-content" *ngIf="!documentService.loading">
      <div class="bubble">
        <ion-icon ios="{{ noContentIcon }}" md="{{ noContentIcon }}"></ion-icon>
      </div>
      <p>{{ noContentMessage }}</p>
    </div>
    <div class="nothing-found-content" *ngIf="documentService.loading">
      <ion-spinner style="width: 50px;height: 50px;"></ion-spinner>
    </div>
  </div>
</ion-content>
