<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'general.menu.myData' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        {{ 'general.signOut' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background:#F5F5F5">
  <div padding>
    <h4>{{ 'myData.currentAddress' | translate }}</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="updateUser($event)" novalidate>
    <ion-list class="data-form">
      <ion-item>
        <ion-input type="text" placeholder="{{ 'myData.mailDeliveryFirstname' | translate }}" formControlName="mailDeliveryFirstName" [(ngModel)]="user.mailDeliveryFirstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'myData.mailDeliveryLastname' | translate }}" formControlName="mailDeliveryLastName" [(ngModel)]="user.mailDeliveryLastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'myData.mailDeliveryCompany' | translate }}" formControlName="mailDeliveryCompany" [(ngModel)]="user.mailDeliveryCompany"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'myData.mailDeliveryAddress' | translate }}" formControlName="mailDeliveryAddress" [(ngModel)]="user.mailDeliveryStreet"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="{{ 'myData.mailDeliveryZip' | translate }}" formControlName="mailDeliveryZip" [(ngModel)]="user.mailDeliveryZipcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'myData.mailDeliveryCity' | translate }}" formControlName="mailDeliveryCity" [(ngModel)]="user.mailDeliveryCity"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <h4>{{ 'myData.yourAccount' | translate }}</h4>
    </div>
    <ion-list class="data-form">
      <ion-list class="account-email" style="margin-bottom: 0 !important;padding-bottom: 0;box-shadow: none;">
        <ion-item>
          <ion-input type="email" placeholder="{{ 'myData.email' | translate }}" formControlName="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="{{ 'myData.repeatEmail' | translate }}" formControlName="emailConfirmation"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list class="account-password" style="margin-bottom: 0 !important;padding-bottom: 0;box-shadow: none;">
        <ion-item>
          <ion-input type="password" placeholder="{{ 'myData.password' | translate }}" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="{{ 'myData.repeatPassword' | translate }}" formControlName="passwordConfirmation"></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>
    <!--<div padding style="padding-top:0px;">{{ 'myData.passwordNeeds' | translate }}</div>-->
    <div padding>
      <h4>{{ 'myData.notifications.title' | translate }}</h4>
      <p>{{ 'myData.notifications.message' | translate }}</p>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>{{ 'myData.pushNotification' | translate }}</ion-label>
        <ion-toggle value="push-notifications" checked="true" formControlName="receiveNotificationsViaPush" [(ngModel)]="user.receiveNotificationsViaPush"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'myData.emailNotification' | translate }}</ion-label>
        <ion-toggle value="e-mail" checked="true" formControlName="receiveNotificationsViaEmail" [(ngModel)]="user.receiveNotificationsViaEmail"></ion-toggle>
      </ion-item>
    </ion-list>
    <div padding>
      <h4>{{ 'myData.newsletter' | translate }}</h4>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>{{ 'myData.receiveNewsletter' | translate }}</ion-label>
        <ion-toggle value="newsletter" checked="true" formControlName="receiveNewsletter" [(ngModel)]="user.receiveNewsletter"></ion-toggle>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="secondary" type="submit" full>{{ 'myData.save' | translate }}</button>
    </div>
  </form>

  <div padding>
    <h4>{{ 'general.menu.billing' | translate }}</h4>
    <p>{{ 'myData.billing.description_header' | translate }}</p>
  </div>
  <ion-list id="billing-info-table" class="data-table" *ngIf="statement?.items && statement.items.length">
    <ion-list-header>
      <ion-row>
        <ion-col col-9 col-lg-8>{{ 'myData.billing.description' | translate }}</ion-col>
        <ion-col col-3 col-lg-4>{{ 'myData.billing.total' | translate }}</ion-col>
      </ion-row>
    </ion-list-header>
    <ion-item *ngIf="loadingData">
      <ion-row>
        <ion-col>
          <ion-label class="loading-row">
            <ion-spinner></ion-spinner>
            {{ 'myData.billing.loading' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
    <template [ngIf]="!loadingData">
      <ion-item *ngFor="let item of statement.items">
        <ion-row>
          <ion-col col-9 col-lg-8 text-wrap>{{ item.name }}</ion-col>
          <ion-col col-3 col-lg-4>{{ item.quantity * item.unit_price | currency:item.currency.name:true }}</ion-col>
        </ion-row>
      </ion-item>
    </template>
    <ion-item color="light" class="billing-footer">
      <ion-row>
        <ion-col col-9 col-lg-8 strong>{{ 'myData.billing.total' | translate }}</ion-col>
        <ion-col col-3 col-lg-4 strong>{{ statement? (statement.total |  currency:'EUR':true):'-' }}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list class="warning" *ngIf="statement?.items && statement.items.length == 0">
    <ion-item text-wrap color="secondary">{{ 'myData.billing.no_billing_data_found' | translate }}</ion-item>
  </ion-list>

  <div padding>
    <h4>{{ 'myData.danger' | translate }}</h4>
    <button ion-button color="danger" full (click)="confirmDelete()">{{ 'myData.deleteAccount' | translate }}</button>
  </div>
</ion-content>
