<ion-header>
  <ion-toolbar>
    <ion-title>
      Labels
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">{{ 'general.cancel' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="label-editor-modal-page">
  <ion-list>
    <ion-item *ngFor="let tag of document.tags; let i = index;">
      {{ tag.name }}
      <ion-icon class="action-menu" color="grey" name="trash" clear item-right (click)="deleteTag(i)"></ion-icon>
    </ion-item>
  </ion-list>
  <form [formGroup]="form" (ngSubmit)="addTag($event)" novalidate>
    <ion-item>
      <ion-input type="text" placeholder="{{ 'documents.labelEditor.typeLabel' | translate }}" formControlName="name"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button full type="submit">{{ 'documents.labelEditor.addLabel' | translate }}</button>
    </div>
  </form>
</ion-content>
