<ion-list class="popover-menu">
  <button menuClose ion-item (click)="openDocument(url)">

      {{ 'documents.documentList.actions.download' | translate }}
  </button>
  <button menuClose ion-item (click)="markAsUnread(doc)" *ngIf="doc.openedByUser">
    <span > {{ 'documents.documentList.actions.markAsUnread' | translate }}</span>
  </button>
  <button menuClose ion-item (click)="markAsFavorite(doc)">
    <span *ngIf="!doc.favoritedByUser">{{ 'documents.documentList.actions.favorite' | translate }}</span>
    <span *ngIf="doc.favoritedByUser">{{ 'documents.documentList.actions.unfavorite' | translate }}</span>
  </button>
  <button menuClose ion-item (click)="openLabelEditor(doc)">
      {{ 'documents.documentList.actions.labels' | translate }}
  </button>
  <button menuClose ion-item (click)="openMoveToFolderModal(doc)">
      {{ 'documents.documentList.actions.move' | translate }}
  </button>
  <button menuClose ion-item (click)="toggleSendToUser(doc)">
      <span *ngIf="!doc.pendingUserDelivery">{{ 'documents.documentList.actions.moveToSendToMe' | translate }}</span>
      <span *ngIf="doc.pendingUserDelivery">{{ 'documents.documentList.actions.removeFromSendToMe' | translate }}</span>
  </button>
  <button menuClose ion-item (click)="deleteDocument(doc)">
      {{ 'documents.documentList.actions.destroy' | translate }}
  </button>
</ion-list>
