<ion-list class="main-menu">
  <button *ngFor="let folder of folders.system" menuClose ion-item (click)="openPageByIdentifier('Inbox', {type: folder.slug})" [ngClass]="{'active': isActive(folder.slug)}">
    <ion-icon name="{{ folder.icon }}" item-left></ion-icon>
    <ion-label>
      {{ 'general.menu.' + folder.slug | translate }}
    </ion-label>
    <ion-badge item-right color="primary" *ngIf="documentService.counts.folders[folder.slug]">
      {{ documentService.counts.folders[folder.slug] }}
    </ion-badge>
    <ion-toggle color="secondary" checked="false" [(ngModel)]="toggle" (ionChange)="onToggle($event)" (click)="onStopTogglePropagation($event)" *ngIf="userService.canCompleteSignup() && folder.slug == 'inbox'"></ion-toggle>
  </button>

  <ion-item-divider>
    {{ 'general.menu.customFolders' | translate }}
  </ion-item-divider>

  <div *ngIf="folders.custom" class="folder-list">
    <button *ngFor="let folder of folders.custom" menuClose ion-item (click)="openPageByIdentifier('Inbox', {type: folder.slug, folder: folder})" [ngClass]="{'active': isActive(folder.slug)}" class="folder">
      <ion-icon name="folder" item-left></ion-icon>
        {{ folder.title }}
        <ion-icon item-right name="trash" (click)="deleteFolder($event,folder)" hideWhen="android,ios" ></ion-icon>
        <ion-badge item-right color="primary" *ngIf="documentService.counts.folders[folder.slug]">{{ documentService.counts.folders[folder.slug] }}</ion-badge>
    </button>
  </div>
  <div class="createFolder" (click)="createFolder()" *ngIf="folders?.custom">
    <ion-icon name="add"></ion-icon>
    <span>{{ 'general.menu.addFolder' | translate }}</span>
  </div>

  <ion-item-divider>{{ 'general.menu.archive' | translate }}</ion-item-divider>
  <button menuClose ion-item (click)="openPageByIdentifier('Inbox', {type: archive.key})" [ngClass]="{'active': isActive(archive.key)}" *ngFor="let archive of documentService.archive | keys">
    {{ archive.value.name }}
    <ion-badge item-right color="primary" *ngIf="documentService.counts.months[archive.value.month]">{{ documentService.counts.months[archive.value.month] }}</ion-badge>
  </button>
  <ion-item-divider>{{ 'general.menu.account' | translate }}</ion-item-divider>
  <button menuClose ion-item (click)="openPageByIdentifier('MyData')" [ngClass]="{'active': isActive('MyData')}">
    {{ 'general.menu.myData' | translate }}
  </button>
</ion-list>
<!-- <ion-note padding>{{ 'general.menu.nextSendDate' | translate }} {{ user.nextMailDeliveryAt | date }} </ion-note>
<div padding>
  <button ion-button (click)="sendLetters()" color="secondary">{{ 'general.menu.sendButton' | translate }}</button>
</div> -->
