page-complete-sign-up {
  .progress-wrapper {
    display: flex;
    
    .button {
      position: absolute;
      color: #888;
      font-size: 2.0rem;

    }

  }

  .panel {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);

  }

  .errors {
    ion-list {
      ion-item {
        color: #fff;

      }

    }

  }

}
